.nowplaying {
	opacity: 0;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	text-shadow: 1px 1px #EEE;
	z-index: 0;
}

.nowplaying.active {
	opacity: 1;
}

.nowplaying .title, .nowplaying .artist, .nowplaying .album {
	font-weight: bold;
}

.songArea {
	margin-top: 10px;
}

.sliderArea time {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}

.slider {
	-webkit-appearance: none;
	display: inline-block;
	width: 35%;
	background: #A3A3A3;
	height: 1px;
	border: 1px solid #7A7A7A;
	border-color: #7A7A7A #7A7A7A #878787;
	border-radius: 1px;
	box-shadow: 0px 1px 0px #D6D6D6;
}

.slider .track {
	background: #7f7f7f;
	height: 1px;
	box-shadow: 0 0 1px #000;
}

.slider .dragger {
	-webkit-appearance: none;
	background: url(../slider.png) no-repeat 50% 50%;
	width: 20px;
	height: 20px;
	margin-top: -11px;
}
